<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="hr.alenmagdic.githubapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:name="hr.alenmagdic.githubapp.app.GithubApp"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="hr.alenmagdic.githubapp.app.ui.activity.UserDetailsActivity">
        </activity>
        <activity android:name="hr.alenmagdic.githubapp.app.ui.activity.RepositoryDetailsActivity">
        </activity>
        <activity android:name="hr.alenmagdic.githubapp.app.ui.activity.MainActivity"
                  android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>